# Avoid accidental Sketch file upload  \ # Избегайте случайной загрузки файла эскиза
###############################################
## Please do not remove line 5 - thanks! 🙂 ## \ ## Пожалуйста, не удаляйте строку 5 - спасибо! 🙂 ##
###############################################
*.sketch

# Avoid accidental XD or Figma upload if you convert the design file \# Избегайте случайной загрузки XD или Figma, если вы конвертируете файл дизайна
#######################################################
## Please do not remove lines 11 and 12 - thanks! 🙂 ## ## Пожалуйста, не удаляйте строки 11 и 12 - спасибо! 🙂 ##
#######################################################
*.xd
*.fig

# Avoid your project being littered with annoying .DS_Store files! # Избегайте того, чтобы ваш проект был завален раздражающими файлами .DS_Store!
.DS_Store
*.md
.prettierignore
node_modules
