@media (max-width: 920px){
	.container{
		max-width: 900px;
		transition-duration: 1s;
	}
		// 	=========================== V-CARD ==============================!//
	.content{
		font-size: 18px !important;
		transition-duration: 1s;
	}
	#v-card .text-uppercase {
		font-size: 26px;
		transition-duration: 1s;
  }

  .links{
	justify-content: space-evenly;
	transition-duration: 1s;
  }

  	// 	=========================== PORTFOLIOS ==============================!//
	  .items__portfolio img {
		min-height: 450px;
		transition-duration: 1s;
  }

  .arow-right {
	transition-duration: 1s;
	top: calc(50% - 50px);
}

.arow-left {
	transition-duration: 1s;
	top: calc(50% - 50px);
}

  	// 	=========================== EDUCATION ==============================!//
	.timeline-dot{
		display: none;
	}
	.block-right .card-content::after {
		content: '';
		display: none;
		}
		.block-left .card-content::before {
			content: '';
			display: none;
			}
			.section #timeline-education:before {
				content: "";
				display: none;
		  }
		  .section #timeline-experience:before {
			content: "";
			display: none;
	  }
	  .card-content{
		transition-duration: 0.5s;
		margin-bottom: 80px ;
	  }
	  #interesContent{
		margin-bottom: 0;
	  }
	  .block-left .card-content{
		border-left: 6px solid #333;
		border-right: 6px solid #333;
		}
		.section .block-right .card-content{
			border-left: 6px solid #333;
			border-right: 6px solid #333;
			}

}
@media (max-width: 768px){
	// 	=========================== V-CARD ==============================!//
	.content{
		font-size: 13px !important;
		transition-duration: 1s;
	}
	#v-card .text-uppercase {
		font-size: 20px;
		transition-duration: 1s;
  }
  .slant {
  }

  .links{
	justify-content: flex-start;
	transition-duration: 1s;
  }
  .links a{
	margin: 0 20px;
  }
}
@media (max-width: 694px){
	// 	=========================== V-CARD ==============================!//
	.info-headings h6{
		font-size: 13px !important;
	}
	.content{
		z-index: 99;
		font-size: 13px;
		transition-duration: 1s;
	}
	#v-card{
		max-height: 360px !important;
	}
	#profile img{
		max-width: 300px !important;
	}
	#v-card .text-uppercase {
		font-size: 17px;
		transition-duration: 1s;
  }
  .links a{
	margin: 0 25px;
  }
  .links{
	justify-content: flex-start;
	transition-duration: 1s;
  }
	// 	=========================== PORTFOLIOS ==============================!//
	.items__portfolio img {
		min-height: 350px;
		transition-duration: 1s;
  }

  .arow-right {
	transition-duration: 1s;
	top: calc(50% - 120px);
}

.arow-left {
	transition-duration: 1s;
	top: calc(50% - 120px);
}
}
@media (max-width: 568px){
	// 	=========================== V-CARD ==============================!//
	body{
		.info-headings h4{
			font-size: 20px !important;
			margin-left: -10px !important;
		}
		.card-content{
			padding-left: 20px;
		}
	.content{
		font-size: 15px !important;
		transition-duration: 1s;
	}
	#v-card{
		max-height: 360px !important;
	}
	#profile img{
		max-width: 200px !important;
		margin-top: -62px !important;
	}
	#v-card .text-uppercase {
		font-size: 16px;
		transition-duration: 1s;
  }
  .links a{
	z-index: 99;
  }
  .links{
	justify-content: space-between;
	transition-duration: 1s;
  }
}
	// 	=========================== PORTFOLIOS ==============================!//
body{
	.items__portfolio{
		min-height: 250px;
	}

	.items__portfolio img {
		min-height: 250px;
		transition-duration: 1s;
  }

  .arow-right {
	transition-duration: 1s;
	top: calc(50% + 60px);
}
.arow-right::before{
	width: 40px;
	height: 40px;
}
.arow-left {
	transition-duration: 1s;
	top: calc(50% + 60px);
}
.arow-left::after{
	width: 40px;
	height: 40px;
}
}
// 	=========================== INTEREST ==============================!//
body{
.interest-icon span{
	font-size: 12px;
}
.interest-icon{
	padding: 5px;
}
.interest-icon-even{
	padding: 5px;
}
.interest-icon-even span {
	font-size: 12px;
}
#music::after{
	top: calc(50% - 25px) !important;
	left: calc(50% - 25px) !important;
	width: 50px !important;
	height: 50px;
}
#games::after{
	top: calc(50% - 30px) !important;
	left: calc(50% - 25px) !important;
	width: 50px !important;
	height: 50px;
}
#serials::after{
	top: calc(50% - 30px) !important;
	left: calc(50% - 20px) !important;
	width: 40px !important;
	height: 40px;
}
#movies::after{
	top: calc(50% - 30px) !important;
	left: calc(50% - 20px) !important;
	width: 40px !important;
	height: 40px;
}
#nature::after{
	top: calc(50% - 30px) !important;
	left: calc(50% - 20px) !important;
	width: 40px !important;
	height: 40px;
}
#diag::after{
	top: calc(50% - 30px) !important;
	left: calc(50% - 20px) !important;
	width: 40px !important;
	height: 40px;
		}
	}
}
@media (max-width: 486px){
	body{
		width: 486px;
	// 	=========================== SKILLS ==============================!//
	.skillbar-title span {
		font-size: 13px;
	}
//================================ EDUCATION ==============================!//
//================================== AND ===============================!//
//=============================== EXPERIENCE ==============================!//
.block-left{
margin-left: 20px;
}
.block-right{
margin-right: 10px;
}

	}

}
@media (max-width: 375px){
	body{
		width: 465px;
		// 	=========================== V-CARD ==============================!//
		.info-headings h4{
			font-size: 19px !important;
		}

	//================================ EDUCATION ==============================!//
	//================================== AND ===============================!//
	//=============================== EXPERIENCE ==============================!//
	.block-left{
		margin-left: 5px;
		}
		.block-right{
		margin-right: 5px;
		}
	}
}
