	// 	=========================== SKILLS ==============================!//
		.skillbar {
			.skill-100 {width: 100%;}
			.skill-90 {width: 90%;}
			.skill-80 {width: 80%;}
			.skill-70 {width: 70%;}
			.skill-60 {width: 60%;}
			.skill-50 {width: 50%;}
			.skill-40 {width: 40%;}
			.skill-30 {width: 30%;}
			.skill-20 {width: 20%;}
			.skill-10 {width: 10%;}
		}
	#skills{
		margin-top: 50px;
		min-height: 458px;
		#skillsBlock{
			min-height: 347px;
		}
		#skilsRow{
			min-height: 347px;
		}
		#skills-card .card-content{
			padding: 20px;
			text-transform: uppercase;
		}
		#skills-card .row{
			min-height: 231px;
			display: flex;
		}
	}
	#skills .card .skillbar-title {
	position: absolute;
}
	#skills .card .skillbar .skillbar-title span {
		display: block;
		padding: 3px 0;
		margin-top: -25px;
		line-height: 15px;
}
	#skills .card .skillbar {
		position: relative;
		margin-top: 45px;
		background: #fff;
		-webkit-transition: 0.4s linear;
		transition: 0.4s linear;
		-webkit-transition-property: width, background-color;
		transition-property: width, background-color;
	}
	#skills .card {
		background: #e88849;
	}
	#skills .card .skillbar .skillbar-bar {
	height: 6px;
	background: #05985a;
}
	#skills .card .skillbar .skill-bar-percent {
	position: absolute;
	right: 1px;
	top: -20px;
	font-size: .8em;
	line-height: 15px;
}
	#skills .container{
		min-height: 458px;
		#title__skils::before{
			content: '';
			background-image: url(./svg/skills-svgrepo-com.svg);
			width: 60px;
			height: 60px;
			position: absolute;
			left: calc(50% - 130px);
			top: 20px;
		}
	}
	.col-md-4 {
		width: 33.33333333%;
  }